*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: sans-serif;
  background-attachment: fixed;
  background-position: center;
}
img{
    width: 200px;
}


.form-register{
  widht: 95%;
  max-width: 500px;
  margin: auto;
  background: white;
  border-radius: 7px;
}

.form_titulo{
  background-color:rgba(14,164,223,1);
  color: #fff;
  padding: 15px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 2px solid  rgba(7,31,101,1);
}
.text_trans{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
}
.contenedor-inputs{
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
input{
  margin-bottom: 15px;
  padding: 15px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid darkgray;
}
.input-48-mayu{
  widht: 48%;
  text-transform: uppercase;
}
.input-48{
  widht: 48%;
}
.input-100{
  width: 100%;
}
.btn-enviar{
  background:  rgba(7,31,101,1);
  color: white;
  margin: auto;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 20px;
}
.btn-enviar:active{
  transform: scale(1.05);
}
.form_link{
  width: 100%;
  margin: 7px;
  text-align: center;
  font-size: 14px;
}
